

body
	{
	overflow-x:hidden;
	}




@media (min-width: 300px) 
	{

	.timeline_row .drop
		{
		height:150px;
		}
	.container_1
		{
		background-size:150% 100%;
		}

	.container_3
		{
		background-size:170%;
		}
	.container_5
		{
		background-size:150%;
		}


	.home_container .answer, .question
		{
		font-size:40px;
		width:200px;
		text-shadow:0px 0px 13px rgb(121, 116, 116);
		}

	.home_container .question
		{
		top:100%;
		}


	.home_container .answer
		{
		top:30%;
		}

	/*for timeline*/
	.right .item_container
		{
		float:left;
		margin-left:10%;
		margin-right:auto;
		width:80%;
		max-width:1000px;
		min-width:0px;
		}



	.left .item_container
		{
		float:left;
		margin-left:10%;
		margin-right:auto;
		width:80%;
		max-width:1000px;
		min-width:0px;
		}



	.timeline_row .steps
		{
		height:60px;
		padding:5px;
		position:absolute;
		top:-10px;
		z-index:2;
		box-shadow:0px 0px 5px rgb(167, 167, 167);	
		}


	.right .steps
		{
		left:5%;
		}
	.left .steps
		{
		left:5%;
		}

	.steps h1
		{
		font-size:50px !important;
		}


	.container_2 .right .periods
		{
		right:15%;
		position:absolute;
		top:-7px;
		font-size:14px;
		font-family:"Myriad";
		width:34%;
		z-index:2;
		line-height:1;
		background:white;
		text-align:right;
		}

	.container_2 .left .periods
		{
		right:15%;
		position:absolute;
		top:-7px;
		font-size:14px;
		font-family:"Myriad";
		width:34%;
		z-index:2;
		line-height:1;
		background:white;
		text-align:right;
		}


	.item .up h3
		{
		font-size:33px;
		}

	.item .down h3
		{
		font-size:22px;
		line-height:32px;
		}

	.container_2 .timeline_scale
		{
		margin-left:5%;
		}

	.timeline_row .point_container
		{
		left:5%;
		}


	.left .point_left  /*SWITCH ON LEFT POINT FOR LEFT FRAME*/
		{
		display:none;
		}
	.left .point_right  /*SWITCH OFF RIGHT POINT FOR LEFT FRAME*/
		{
		display:block;
		}
	.right .point_right  /*SWITCH ON RIGHT POINT FOR RIGHT FRAME*/
		{
		display:block;
		}
	.right .point_left  /*SWITCH OFF LEFT POINT FOR RIGHT FRAME*/
		{
		display:none;
		}


	.container_4 .divider-3
		{
		background:url('../img/3.png');
		background-size:10px 10px;
		display:block;
		}
	
 	}


@media (min-width: 470px)
	{
	.container_2 .right .periods
		{
		font-size:17px;
		}
	.container_2 .left .periods
		{
		font-size:17px;
		}

	}


@media(min-width: 550px)
	{

	.container_2 .right .periods
		{
		font-size:19px;
		}

	.container_2 .left .periods
		{
		font-size:19px;
		}



	}




@media(min-width: 630px)
	{

	.container_2 .right .periods
		{
		top:10px;
		font-size:20px;
		}

	.container_2 .left .periods
		{
		top:10px;
		font-size:20px;
		}



	}




@media (min-width: 768px) 
	{
	.timeline_row .drop
		{
		height:200px;
		}
	.container_1
		{
		background-size:130% 100%;
		}

	.container_3
		{
		background-size:130%;
		}
	.container_5
		{
		background-size:130%;
		}


	.home_container .answer, .question
		{
		font-size:40px;
		width:350px;
		text-shadow:0px 0px 13px rgb(121, 116, 116);
		}

	.home_container .question
		{
		top:100%;
		}


	.home_container .answer
		{
		top:30%;
		}

	/*for timeline*/
	.right .item_container
		{
		width:45%;
		max-width:500px;
		min-width:200px;
		float:left;
		margin-left:55%;
		}



	.left .item_container
		{
		float:right;
		margin-right:55%;
		width:45%;
		max-width:500px;
		min-width:200px;
		}


	.timeline_row .steps
		{
		height:50px;
		padding:1px;
		position:relative;
		top:250px;
		margin-left:auto;
		margin-right:auto;
		left:0px;
		width:200px;
		}

	.steps h1
		{
		font-size:38px !important;
		}

	.container_2 .right .periods
		{
		left:0px;
		right:0px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		top:270px;
		width:200px;
		text-align:left;
		font-size:20px;
		font-family:"Myriad";
		line-height:1.1;
		}

	.container_2 .left .periods
		{
		left:0px;
		right:0px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		top:270px;
		width:200px;
		text-align:left;
		font-size:20px;
		font-family:"Myriad";
		line-height:1.1;
		}


	.item .up h3
		{
		font-size:30px;
		}

	.item .down h3
		{
		font-size:18px;
		line-height:26px;
		}


	.container_2 .timeline_scale
		{
		margin-left:45%;
		}

	.timeline_row .point_container
		{
		left:45%;
		}

	.left .point_left  /*SWITCH ON LEFT POINT FOR LEFT FRAME*/
		{
		display:block;
		}
	.left .point_right  /*SWITCH OFF RIGHT POINT FOR LEFT FRAME*/
		{
		display:none;
		}
	.right .point_right  /*SWITCH ON RIGHT POINT FOR RIGHT FRAME*/
		{
		display:block;
		}
	.right .point_left  /*SWITCH OFF LEFT POINT FOR RIGHT FRAME*/
		{
		display:none;
		}



	.container_4 .divider-3
		{
		background:url('../img/3.png');
		background-size:10px 10px;
		display:none;
		}


 	}


@media (min-width: 992px) 
	{
	.timeline_row .drop
		{
		height:250px;
		}
	.container_1
		{
		background-size:110% 100%;
		}


	.container_3
		{
		background-size:110%;
		}
	.container_5
		{
		background-size:110%;
		}

	.home_container .answer, .question
		{
		font-size:40px;
		width:350px;
		text-shadow:0px 0px 0px rgb(121, 116, 116);
		}

	.home_container .question
		{
		top:100%;
		}


	.home_container .answer
		{
		top:30%;
		}

	/*for timeline*/
	.right .item_container
		{
		width:45%;
		max-width:500px;
		min-width:200px;
		float:left;
		margin-left:55%;
		}



	.left .item_container
		{
		float:right;
		margin-right:55%;
		width:45%;
		max-width:500px;
		min-width:200px;
		}


	.timeline_row .steps
		{
		height:53px;
		padding:2px;
		position:relative;
		top:250px;
		margin-left:auto;
		margin-right:auto;
		left:0px;
		width:220px;	
		}

	.steps h1
		{
		font-size:48px !important;
		}


	.container_2 .right .periods
		{
		left:0px;
		right:0px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		top:270px;
		width:220px;
		text-align:left;
		font-size:25px;
		font-family:"Myriad";
		line-height:1.1;
		}

	.container_2 .left .periods
		{
		left:0px;
		right:0px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		top:270px;
		width:220px;
		text-align:left;
		font-size:25px;
		font-family:"Myriad";
		line-height:1.1;
		}

	.item .up h3
		{
		font-size:40px;
		}
	.item .down h3
		{
		font-size:20px;
		line-height:30px;
		}


	.container_2 .timeline_scale
		{
		margin-left:45%;
		}


	.timeline_row .point_container
		{
		left:45%;
		}


	.left .point_left  /*SWITCH ON LEFT POINT FOR LEFT FRAME*/
		{
		display:block;
		}
	.left .point_right  /*SWITCH OFF RIGHT POINT FOR LEFT FRAME*/
		{
		display:none;
		}
	.right .point_right  /*SWITCH ON RIGHT POINT FOR RIGHT FRAME*/
		{
		display:block;
		}
	.right .point_left  /*SWITCH OFF LEFT POINT FOR RIGHT FRAME*/
		{
		display:none;
		}


	.container_4 .divider-3
		{
		background:url('../img/3.png');
		background-size:10px 10px;
		display:none;
		}

 	}


@media (min-width: 1200px) 
	{
	.timeline_row .drop
		{
		height:250px;
		}
	.container_1
		{
		background-size:100% 100%;
		}


	.container_3
		{
		background-size:100%;
		}
	.container_5
		{
		background-size:100%;
		}


	.home_container .answer, .question
		{
		font-size:50px;
		width:450px;
		text-shadow:0px 0px 0px rgb(121, 116, 116);
		}

	.home_container .question
		{
		top:100%;
		}

	.home_container .answer
		{
		top:30%;
		}

	/*for timeline*/
	.right .item_container
		{
		width:45%;
		max-width:500px;
		min-width:200px;
		float:left;
		margin-left:55%;
		}



	.left .item_container
		{
		float:right;
		margin-right:55%;
		width:45%;
		max-width:500px;
		min-width:200px;
		}


	.timeline_row .steps
		{
		height:60px;
		padding:5px;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		top:250px;
		left:0px;
		width:250px;	
		}

	.steps h1
		{
		font-size:60px !important;
		}


	.container_2 .right .periods
		{
		left:0px;
		right:0px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		top:270px;
		width:250px;
		text-align:left;
		font-size:30px;
		font-family:"Myriad";
		line-height:1.1;
		}

	.container_2 .left .periods
		{
		left:0px;
		right:0px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		top:270px;
		width:240px;
		text-align:left;
		font-size:30px;
		font-family:"Myriad";
		line-height:1.1;
		}


	.item .up h3
		{
		font-size:45px;
		}

	.item .down h3
		{
		font-size:22px;
		line-height:32px;
		}


	.container_2 .timeline_scale
		{
		margin-left:45%;
		}


	.timeline_row .point_container
		{
		left:45%;
		}


	.left .point_left  /*SWITCH ON LEFT POINT FOR LEFT FRAME*/
		{
		display:block;
		}
	.left .point_right  /*SWITCH OFF RIGHT POINT FOR LEFT FRAME*/
		{
		display:none;
		}
	.right .point_right  /*SWITCH ON RIGHT POINT FOR RIGHT FRAME*/
		{
		display:block;
		}
	.right .point_left  /*SWITCH OFF LEFT POINT FOR RIGHT FRAME*/
		{
		display:none;
		}


	.container_4 .divider-3
		{
		background:url('../img/3.png');
		background-size:10px 10px;
		display:none;
		}

 	}










/*//////////////////////////////////*/
/*//////SOME MAIN CONTAINERS////////*/


/*//////////////////////////////////*/
/*//////CONTAINER 1/////////////////*/
/*//////////////////////////////////*/


.container_1
	{
	width:100%;
	height:100%;
	position:relative;
	z-index:4;	
	overflow:hidden;
	}




.container_1 .bgimg
	{
	width:100%;
	height:180%;

	transform:translate3d(0px,0px,0);
	-webkit-transform:translate3d(0px,0px,0);
	-ms-transform:translate3d(0px,0px,0);
	-o-transform:translate3d(0px,0px,0);
	-moz-transform:translate3d(0px,0px,0);
	-khtml-transform:translate3d(0px,0px,0);
	left:0px;

	top:0px;
	position:absolute;

	-background-image:url('../img/fon_1_design_pure_1.jpg');
	-background-position:center center;
	-background-size:cover;

	}

.container_1 .bgimg img
	{
	height:100%;
	}


.bgimg_hand_container
	{
	width:100%;
	height:100%;
	position:absolute;
	z-index:2;
	top:0px;
	left:0px;
	z-index:5;
	overflow-x:hidden;
	}




.bgimg_hand
	{
	width:100%;
	height:150%;

	z-index:2;


	transform:translate3d(0px,0px,0);
	-webkit-transform:translate3d(0px,0px,0);
	-ms-transform:translate3d(0px,0px,0);
	-o-transform:translate3d(0px,0px,0);
	-moz-transform:translate3d(0px,0px,0);
	-khtml-transform:translate3d(0px,0px,0);
	left:-20%;


	-background-image:url('../img/hand_pure.png');
	-background-position:center center;
	-background-size:cover;
	position:absolute;
	top:-120%;

	-webkit-animation:motion 3s infinite;
	animation:motion 3s infinite;

	}


.bgimg_hand img
	{
	-height:100%;
	}


@-webkit-keyframes motion
	{
	0% {top:-120%}
	50% {top:-118%}
	100% {top:-120%}

	}


@-webkit-keyframes moving
	{
	0% {transform:scale(1) rotate(0)}
	50% {transform:scale(0.95) rotate(2deg)}
	100% {transform:scale(1) rotate(0)}
	}


.container_1 .title_back
	{
	position:absolute;
	height:95px;
	width:650px;
	z-index:1;

-	background:white;	
-	opacity:0.2;
	

	border-radius:15px;
	border-color:white;
	border-style:solid;
	border-width:1px;


	}


.home_container .title_span
	{
	position:absolute;
	height:95px;
	-width:650px;
	z-index:5;
	color:white;
	line-height:1;
	transform:translateZ(0);
	}

.home_container .titles_container
	{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:7;
	clip:rect(0px auto auto 0px);
	}



.home_container .question
	{
	transform:translate3d(0%,0%,0);
	-webkit-transform:translate3d(0%,0%,0);
	-ms-transform:translate3d(0%,0%,0);
	-o-transform:translate3d(0%,0%,0);
	-moz-transform:translate3d(0%,0%,0);
	-khtml-transform:translate3d(0%,0%,0);

	left:50px;
	text-align:left;

	font-family:'Poppins',sans-serif !important;
	font-weight:300 !important;
	

	}


.home_container .answer
	{
	font-family:'Poppins',sans-serif !important;
	font-weight:300 !important;
	right:15px;
	position:fixed;
	}

.shadow_plaha
	{
	position:absolute;
	bottom:0px;
	box-shadow:0px 0px 5px 5px black;
	height:10px;
	background:white;
	box-shadow:0px -7px 13px -3px black;
	width:100%;

	}


.container_1 .answer
	{
	position:fixed;
	right:50px;
	border-width:0px;
	text-align:right;
	font-family:'Poppins',sans-serif;
	font-weight:300;

	}



.container_1 .wrap_center
	{
	padding-left:10px;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	margin:auto;
	position:absolute;
	height:95px;
	width:100%;
	z-index:2;
	color:white;
	line-height:1.1;	
	}


/*//////////////////////////////////*/
/*//////CONTAINER 2/////////////////*/
/*//////////////////////////////////*/

.container_2
	{
	width:100%;
	height:auto;
-	border-color:red;
-	border-style:solid;
-	border-width:1px;
	position:relative;
	background:white;
	z-index:4;
	margin-top:-10px;
	}


.timeline_row
	{
	position:relative;
	width:100%;
	height:auto;
	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
	transform:translateZ(0);
	}




.timeline_row h1
	{
	font-size:60px;
	color:white;

	}





.steps_container
	{
	float:left;
	width:45%;
	max-width:500px;
	height:400px;
	}

.timeline_row.left .steps_container
	{
	float:right;
	}


.item img
	{
	transform:rotate(-20deg) scale(1.5);
	transition:transform ease 1s;
	}



.item img:hover
	{
	transform:rotate(0deg) scale(1);
	}


.steps_container .steps
	{
	text-align:center;
	transform:translateZ(0) scale(0);
	background:#3e6c93;
	box-shadow:0px 0px 4px #000000;
	}

.steps_container .periods
	{
	transform:translateZ(0) scale(0);
	}


.transitioned_steps
	{
	transform:translateZ(0) scale(1) !important;
	}


/*ANIMATIONS*/

@-webkit-keyframes myFlipInY 
	{
  	from {
 	     transform: perspective(400px) rotate3d(0, 1, 0, 90deg) translateZ(0);
    	     animation-timing-function: ease-in;
  	     }

  	40% {
    	    transform: perspective(400px) rotate3d(0, 1, 0, -20deg) translateZ(0);
    	    animation-timing-function: ease-in;
  	    }
	60% {
    	    transform: perspective(400px) rotate3d(0, 1, 0, 10deg) translateZ(0);
  	    }
	80% {
    	    transform: perspective(400px) rotate3d(0, 1, 0, -5deg) translateZ(0);
  	    }
  	to {
    	   transform: perspective(400px) translateZ(0);
   	   }
	}

@-moz-keyframes myFlipInY 
	{
  	from {
 	     transform: perspective(400px) rotate3d(0, 1, 0, 90deg) translateZ(0);
    	     animation-timing-function: ease-in;
  	     }

  	40% {
    	    transform: perspective(400px) rotate3d(0, 1, 0, -20deg) translateZ(0);
    	    animation-timing-function: ease-in;
  	    }
	60% {
    	    transform: perspective(400px) rotate3d(0, 1, 0, 10deg) translateZ(0);
  	    }
	80% {
    	    transform: perspective(400px) rotate3d(0, 1, 0, -5deg) translateZ(0);
  	    }
  	to {
    	   transform: perspective(400px) translateZ(0);
   	   }
	}


@-webkit-keyframes myScale
	{
  	from {transform: scale(0.0) translateZ(0);}
  	to {transform: scale(1) translateZ(0);}
	}
@-moz-keyframes myScale
	{
  	from {transform: scale(0.0) translateZ(0);}
  	to {transform: scale(1) translateZ(0);}
	}

.animated_scale
	{
	-webkit-animation-name: myScale;
	-moz-animation-name:myScale;
	-moz-animation-duration:1s;
	animation-name: myScale;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	}

.animated_flip
	{
	-webkit-animation-name: myFlipInY;
	animation-name: myFLipInY;
	animation-duration: 1s;
	-moz-animation-name: myFLipInY;
	-moz-animation-duration: 1s;
	-webkit-animation-duration: 1s;
	}


/*ANR ANIMATIONS*/



/*some styles determined in media queries*/
.item_container
	{
	transform:translateZ(0) scale(0);
	margin-top:-400px;
	}


.item_container .item
	{
	
	height:auto;
	margin:10%;
	}

/*for top line of box-shadow-block*/
/*recovering styles from base theme*/
.box-shadow-block
	{
	border-top-color:#3e6c93 !important;
	}
.bg-color
	{
	background-color:#3e6c93 !important;
	}

.block-heading-ten h3  /*color to text of every box-card*/
	{
	color:#3e6c93 !important;
	}



.item_container .item .up
	{
	width:100%;
	height:auto;
	}


.item_container .item .middle
	{
	width:100%;
	height:auto;
	overflow:hidden;
	}

.item_container .item .down
	{
	width:100%;
	height:auto;
	min-height:100px;
	}

.item_container .item img
	{
	width:100%;
	}


.timeline_row .point_container
	{

	width:10%;
	position:absolute;
	height:100%;
	}


.timeline_row .point
	{
	margin-top:250px;
	margin-left:auto;
	margin-right:auto;
	position:relative;

-	margin-left:48%;
-	position:absolute;
	width:50px;
	height:50px;
	border-radius:50px;
	background:white;
	border-color:rgb(228, 228, 228);
	border-style:solid;	
	border-width:1px;
	background:rgb(228, 228, 228); 
	z-index:0;

	}



.timeline_row .point_left i
	{
	font-size:32px;
	margin-left:6px;
	margin-top:8px;
	color:white;

	}

.timeline_row .point_right i
	{
	font-size:32px;
	margin-left:9px;
	margin-top:6px;
	color:white;

	}



.timeline_row .h_line
	{
	position:absolute;
	top:25px;
	width:150px;
	height:1px;
	background:#eee;
	}



.timeline_row .point_left .h_line
	{
	left:-149px;
	}


.timeline_row .point_right .h_line
	{
	left:49px;
	}


.timeline_scale
	{
	width:10%;
	background:white;
	height:100%;
	position:absolute;
	}




.timeline_scale .v_line
	{
	width:1px;
	background:rgb(228, 228, 228);
	margin-left:auto;
	margin-right:auto;
	height:100%;
	}





.timeline_row .clear_both
	{
	clear:both;
	}


.timeline_row .drop   /*this is for only one image*/
	{
	display:block;
	width:auto !important;
	margin-left:auto;
	margin-right:auto;

	}



/*//////////////////////////////////*/
/*//////CONTAINER 3/////////////////*/
/*//////////////////////////////////*/



.container_3
	{
	width:100%;
	height:400px;
	overflow:hidden;
	-background-image:url('../img/fon_2.jpg');
	-background-repeat:no-repeat;
	-background-attachment:fixed;
	-background-position:center center;
-	border-color:red;
-	border-style:solid;
-	border-width:1px;
	position:relative;
	margin-top:40px;
	z-index:3;
	}



.container_3 h3
	{
	color:white;
	}


.container_3 .block-heading-four
	{
	position:absolute;
	transform:translate3d(0%,0%,0);
	left:0px;
	width:100%;
	z-index:101;
	top:40%;
	transition:transform 1s ease;
	}


.container_3 .bgimg
	{
	height:100%;
	width:100%;
	left:0px;
	position:absolute;
	overflow:hidden;
	z-index:3;
	clip:rect(0px auto auto 0px);
	}


.container_3 .bgimg::before
	{
	background:url('../img/fon_2.jpg');
	background-size:cover;
	content:'';
	position:fixed;
	will-change:transform;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	z-index:-1;
	}


.container_3 .bgimg_blur
	{
	height:100%;
	width:50%;
	left:0px;
	right:0px;
	top:0px;
	left:0px;
	position:absolute;
	z-index:5;
	margin:auto auto;
	overflow:hidden;
	clip:rect(0px auto auto 0px);
	}


.container_3 .bgimg_blur::before
	{
	-webkit-filter:blur(5px);
	filter:url(blur.svg#blur);
	content:'';
	background:url('../img/fon_2.jpg');
	background-size:cover;
	will-change:transform;
	z-index:3;	
	position:fixed;
	height:100%;
	width:100%;
	top:10px;
	left:0px;
	}



.container_3 .box_shadow_moz
	{
	display:block;
	height:100%;
	width:50%;
	left:0px;
	right:0px;
	top:0px;
	left:0px;
	position:absolute;
	z-index:6;
	margin:auto auto;
	box-shadow:0px 0px 5px black;

	}


/*//////////////////////////////////*/
/*//////CONTAINER 4/////////////////*/
/*//////////////////////////////////*/


.container_4
	{
	width:100%;
	height:auto;
-	border-color:red;
-	border-style:solid;
-	border-width:1px;
	margin-bottom:100px;
	position:relative;
	z-index:5;
	background:white;
	}




.container_4 .block-heading-five
	{
	margin-top:50px;

	}


.container_4 .quote-one
	{
	width:80%;
	margin-left:auto;
	margin-right:auto;

	}


.container_4 .cta-three-content
	{
	margin-top:10px;

	}


/*//////////////////////////////////*/
/*//////CONTAINER 5/////////////////*/
/*//////////////////////////////////*/


.container_5
	{
	height:100%;
-	background:rgb(243, 243, 243);
	margin-top:0px;

	background-image:url('../img/fon_13.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	position:relative;
	z-index:5;
	}



.container_5 .empt
	{
	width:100%;
	height:1px;
	}

.container_5 .cta-eight
	{
	margin-top:100px;

	}


