


<div class="article_container">


	<div class="article_img" set-width="100%" set-height="220%">
			<img class="article_img_before"
				src="./static/img/look_down.jpg"
	 			set-width="100%"
	 			set-height="100%"
		 		parallax
		 		parallax-rotate="0:10"
		 		parallax-scale="150:100"
				>
			</img>
			<img class="sigarette_hand"
				src="./static/img/sigarette_hand.png"
	 			set-width="100%"
 				set-height="100%"
 				parallax
 				parallax-top="100%"
 				parallax-scale="90:110"
 				delay-class="top_pos"
 				delay-duration="100"
				>
			</img>

		<div class="title" delay-class="bouncing animated bounceInRight" delay-duration="500">
			<span>Read in details article</span>
		</div>
	</div>


	<div class="left_col" 
		animate-scroll="animated bounceInRight bouncing"
		when-scroll="160"
		>
		<ul>
			<li ng-click="go_to('about_article')" ng-class="{'active':cur_menu=='about_article'}">О статье</li>
			<li ng-click="go_to('motivation')" ng-class="{'active':cur_menu=='motivation'}">Мотивация</li>
			<li ng-click="go_to('tricky_brain')" ng-class="{'active':cur_menu=='tricky_brain'}">Хитрый мозг</li>
			<li ng-click="go_to('approach')" ng-class="{'active':cur_menu=='approach'}">Суть подхода</li>
			<li ng-click="go_to('swap')" ng-class="{'active':cur_menu=='swap'}">(1) Замена</li>
			<li ng-click="go_to('3mg')" ng-class="{'active':cur_menu=='3mg'}">(2) 3МГ</li>
			<li ng-click="go_to('mix')" ng-class="{'active':cur_menu=='mix'}">(3) МИКС</li>
			<li ng-click="go_to('drop')" ng-class="{'active':cur_menu=='drop'}">(4) Капля</li>
			<li ng-click="go_to('no_nicotine')" ng-class="{'active':cur_menu=='no_nicotine'}">(5) Без никотина</li>
			<li ng-click="go_to('conclusion')" ng-class="{'active':cur_menu=='conclusion'}">Вывод</li>
			
		</ul>
	</div>


	<div class="block_container" 
		animate-scroll="animated bounceInUp bouncing"
		when-scroll="100"
		>
		<div class="empt"></div>

		<div class="right_col">
			<h3 id="about_article">&#x00a7 О Статье</h3>


	Cтатья посвящена тому, как бросить курить.
	<p>Курение - одна из наиболее вредных привычек, но в то же время приятных:)

	<p>Много видел смельчаков, которые пытались бросить курить, но обычно их хватало на либо некоторый период, либо только разговоры.
	<p>Сам курил около 15 лет. Бросать никогда не думал. Эта привычка мне нравилась, но и никогда не заявлял, что курить бросить это просто и я смогу в два счета. Собственно и не начинал никогда бросать.

	<p>Правда пришел один момент, когда все-таки задумался на счет того - стоит курить или нет, т.е эта мысль дошла до головы и - решил рискнуть. В целом, это уже был момент когда я курил примерно 20 сигарет в день. И главной причной было то, что по 5 минут за одну сигарету это было примерно 20*5 = 100 минут, т.е. полтора часа в день. Мозг подвел к мысли, что это время лучше полежать на диване в интернете...вон он и начал двигать мной.

	<p><b>Статья</b> - это финальный аккорд и:
	<ul class="list-9">
		<li> призвана помочь людям которые хотят бросить курить и предпринимали попытки но у них не получалось;</li>
		<li> для тех кто курит но не задумывался бросить однако читает мою статью - пробудить желание избавиться от вредной привычки;</li>
		<li> кто курит или собирается приобрести электронную сигарету - дать дополнительную информацию о ее использовании и вреде, он тоже имеется.</li>
	</ul>

	<p>По факту я бросил курить и не курю примерно 3 месяца на момент написания статьи. Чувствую уверенно, т.е. нет желания, лишь изредка или во время выпивки. Но пью совсем мало потому это тоже не особо меня задевает.

	<p>Для того, что б бросить курить нужно  понимать причину или хотя бы что-то более детально в этом процессе, т.е. что движет Вами.
	<br>У меня была сначала идея как это сделать, чуть попробовал, получилось, продолжил - потом все превратилось в азарт и уже было интересно - чем все это закончиться, т.е. доведу дело до конца или нет - было уже вопросом спортивного интереса.

	<p>Потому хочу уже в сухом остатке расписать свой подход, который помог и как это работает.


			<h3 id="motivation">&#x00a7 Мотивация</h3>
	<p>Но в каждом деле важна мотивация, я попробую расписать ее в несколько этапов.

	<p><span class="highlight-yellow">Изначально зачем бросать???</span> Тут все просто:
	<ul class="list-9">
		<li><span class="highlight-green">затраты</span>, и даже не они....самое сложное было постоянно помнить что нужно купить сигареты....и еще зажигалка....а тажке с самого утра не забыть взять этот весь набор....е еще по карманам разложить...а летом это сложно.</li>
 		<li><span class="highlight-green">здоровье</span>. Ну тут все понятно, достаточно ввести в поиске по картинкам яндекса "вред курения" и все понятно будет;</li>
		<li>ну наверное как уже писал - самое дорогое для меня <span class="highlight-green">время...</span> Нет, конечно мне казалось, что я время не трачу, ведь даже в перерывах на курение на работе я о чем-то думаю, и если брошу - то думать перестану или идеи исчезнут:). Скажу, что это не так, время для "подумать" будет всегда, идеи все-равно будут приходить, это абсолютно не связано, все будет нормально и даже экономно. Вот давайте подумаем еще и о таком расходе времени как спуститься и поднятьсян на рабочее место в высотном офисе? Так сказать накладные затраты. Ведь может и на эту процедуру уходить пару минут и 10 сигарет превратяться в несколько десятков минут. </li>
		<li>есть люди <span class="highlight-green">которые не курят</span>, они могут а вы нет?? Нужно попробовать их догнать.</li>
			

		
			<h3 id="tricky_brain">&#x00a7 Хитрый Мозг</h3>

	<p>Ну решил так назвать этот раздел, как думал. 
	<br>То насколько изучил материал, получается - организм не требует никотин из вне, и он может его получать самостоятльно, лишь только могзг этим управляет. Стало быть как только мы начинаем курить - мы запускаем немного другое направление работы мозга, а именно <em>он начинает требовать больше "покурить", чем выработать самому</em>. Не знаю почему, наверное потому что не хочет что б организм работал...ленивый. Или в целом нужно больше никотина чем может выработать организм, т.е. привыкается к большим дозам. Последнее скорей всего.

	<p>Т.е. теперь мозг работает в направлении <b>- нужен никотин - покури</b>.
	<p>Стало поянтным, что одной из важных причин все-такие есть никотин.
	<br>Аргументы курильщиков вроде:

		<blockquote>
		
			<p>кажется что отдыхаю в этот момент....
			<p>это объединяет нас на перерывах, отвлекает от работы, мы можем что-то обсудить и т.д....
			<p>такая привычка, просто хочется потянуть...
		

		</blockquote>

		...<em class="red">все это не более как оказалось чем оправдания хитрого мозга, на самом деле речь просто в никотине, как только бросите, даже мне со стажем в 15 лет оказалось это уже не совсем аргументировано.</em>


	<p>Стало быть основная задача теперь <span class="highlight-green">заставить мозг брать никотин из того места где он вырабатывается в организме.</span> Т.е. наша гипотеза - если мозг научиться брать никотин из другого места в организме и перестанет нас дергать покурить - то отпадут и остальные аргументы. Или же мозг просто должен привыкнуть к более низкой дозе никотина.



			<h3 id="approach">&#x00a7 Суть подхода</h3>

	<p>Итак на чем основывается подход.
	<p>В простом понимание - <span class="highlight-yellow">это использование электронной сигареты.</span> Скажу, что не рекламирую какую-то конкретную марку, исключительно как инструмент для нашей цели. Но  использовал именно этот инструмент и потому не написать о нем не могу. Кто-то может сказать, что это не новое бросить курить с помощью электронно сигареты. Так вот мне кажется, что как раз этот материал и необходим. 

	<p>Дело в том, что электронная сигарета изначально представлялась населению как некий инструмент и возможность бросить курить. Однако нужно понимать, что в этом на заинтересован сам производитель, что б люди покупали ЭС а потом бросалипокупать жидкость. Как правило, причина покупки ЭС как инструмента для бросания этой прывички звучит между строк, об этом не много материала и сами продавцы об этом не сильно распространяются. Они просто расказывают как правильно курить, выбрать жидкость, что это не вредно и бросать не нужно и т.д. 
	<br>Добавлю, что был удивлен насколько было мне трудно купить жидкости для ЭС без никотина. 
	<p>Даже спросил а почему вы не завозите?? 

		<blockquote>
		<p>- так не берут. В основном крепкие.
		</blockquote>
	<p> Т.е у тех, кто перешел на ЭС есть два пути - вернуться на класические (кто финансово не выдерживает) или бросить (таких мало).



	<p>Как мы определились главная задача уменьшить дозу и заставить мозг брать никотин из организма.
	<p><span class="highlight-green">Как отучить мозг???</span>

	<p>Для этого выделил примерно <b>5 шагов</b>. Все они основаны на использовании электронной сигареты.
	<br>Дело в том, что можно попробовать перехитрить мозг, а именно вроде бы выполняя те же движения, ходить на те же перерывы, т.е. все то же самое - но только с меньшими дозами, т.е. постепенно уменьшая дозу никотина до "0", а потом выбросить сигарету как ненужную штуку.


			<h3 id="swap">&#x00a7 (1) Замена</h3>

		<p>Начинаем с самого простого: переход на цифру (электронную сигарету). 
		<p>Некоторые сдаются на этом этапе.<span class="highlight-yellow"> Причина на мой взгляд - неправильно подобрана сама электронная сигарета.</span>.
		<p>Не буду расписывать детали, но у меня тоже были две попытки - на второй все получилось. 
		<p>Вторая попытка была примрено такая. Все-таки почитал немного материала, что-то выбрал и направился в шоу-рум. Там мне сказали - это все не то - вот, держите. Хоть это и редко, но  прислушался, т.к. дали попробовать и показалось, что действительно, этот вариант лучше, затяжка хорошая, дыма много, "удар в горло" есть, т.е. все как и  у обычной сигареты, и показалось даже лучше, т.к. вкуснее и дыма больше, а главное нет смол. Поплыл на радостях домой, что б попробовать дома попыхтеть прям на диване и жене покрасовать.

		<p>Денег не пожалел, но скажу, <u>что материально нужно быть готовыми</u>, к тому же на саму заправку уйдет денег тоже не мало, потому будьте готовы.

		<p>Что мотивирует переход:
			<ul class="list-9">
				<li>можно курить на диване</li>
				<li>нет смол - повторяйте для своего мозга, что это полезно, вы дольше проживете и легкие будут как атвомобиль после использования хорошего бензина.</li>
				<li>не у всех получается - а у меня получится.</li>
				<li>нет пепла в машине...как его много было когда курил в пробках, пылесосить нужно было каждые две недели.</li>


		<p>Был один отклик у людей, о том, что не могут курить... мол крепкая. 
		<p>Тут нужно понять такую штуку, ЭС нужно распробовать, может меньшие по крепости жидкости заправить, потом покурить ее несколько дней. Мне кажется, что есть некоторый шелчок в приспосабливание к ЭС. Т.е. момент после которого Вы понимаете, что ее можно курить и привыкаете. 
		<p>Да, может действительно после первых затяжек показаться что много дыма и чуть крепче, потому начинается кашель и перехватывает горло (удар в горло). Но не нужно сдаваться, попробуйте меньшую дозу, вкуснее жидкость, обратитесь к хорошему продавцу, что б он уменьшил мощность распылителя (забыл как он называется) ЭС и продолжайте вдыхать, пересиливая себя может даже в полную грудь. Это ведь не дым со смолами, потому можно набрать полные легкие. После парочки затяжек может и свыкнется, т.е. нормально станете относиться к перехвату в горле.

		<p>Таким образом пришлось разработать правила - все-таки курю в режиме как и курил обычную сигарету - стараюсь 5-10 минут, жидкость взял 6 мг, и с частотой как и аналоговую сигарету курил (10-20 раз в день)
Привык полностью недели за две. Т.е. уже как и родился с ней.	

			<h3 id="3mg">&#x00a7 (2) 3МГ</h3>
	<p>Уменьшение дозы до <span class="highlight-green">3МГ.</span> 
	<p>Я специально выделил казалось бы этот очевидный пункт в отдельный шаг, что б акцентировать внимание на двух вещах... которые скажу наперед:
<br> - <u>уменьшать дозу нужно,</u> иначе вы не бросаете и отказываетесь от своей затеи;
<br> - <u>курить ЭС тоже вредно</u>;

	<p>Собственно покуривая такую сигаретку - практически сразу не возникало никакого желания в бумажной. Валялся на диване, пыхтел, смотрел в ноут....все норм. Ну может по-началу, но в том то все и дело, что мозг получал что именно ОН хотел - никотин, плюс выполнялись все условия (затяжка, дым, перерывы и т.д.), потому особо не возмущался. Ну может с дозой нужно было угадать и приспособиться.

	<p>Изначально я курил <span class="highlight-green">6МГ.</span> Но столкнулся с проблемой - <b>передозировка</b>. Это очень важный момент на котором акцентирую внимание. С одной стороны при курении электронной сигареты нет смол, но с другой стороны в организм поступает никотин и возможно даже в большем кол-ве чем нужен...сам-то никотин тоже вредный в большом кол-ве. Если вы курите цифру более часа, причем доза не маленькая в жидкости (12-18 мг) - то в организм поступает очень большая порция, можно даже умереть. Вы почувствуете серцебиение, и возможно проблемы со сном, как будто выпили много кофе, также будет болеть голова.
Т.е. курить цифру 30 минут и на протяжении часа нельзя, какая б доза не была маленькой.

	<p>Помимо передозировки возник другой момент сигареты - ее нужно заряжать, причем не только энергией, но и жидкостью. Причем проблемы и с превым и со вторым. С энергией - нужны везде зарядки (в офисе, в машине, дома), иначе представтье - села Ваша сигаретка - как будете заряжать? Ведь не пойдешь и не купишь новую пачку сигарет:)
Жидкость тоже оказалась проблема - ее не продают в каждом лорьке, причем в этот перид я работал в Москве, и даже в Москве были серьезные проблемы, нужно было куда-то ехать, а это время, а время я ценил. Но все-таки уже больше нравилось курить цифру цем аналог.

	<p><span class="highlight-yellow">Как происходило уменьшение дозы???</span>.
	<p>В один момент просто начинаете курить меньше дозу, но может дольше или чаще. Да, было дискомфортно, пришлось делать больше затяжки (глубже), чаще бегал курить. НО день, другой, третьий - старался опять вернуть все в обычный режим, а именно 10-15 раз в день курить и по 5-10 минут, не более....ну это примерно. Самое интересно - что когда брал потом 6 мг курить (не было 3 мг в магазине) - то казались очень крепкие.


	<p>Большинство курильщиков знают и пробовали переходить на сигареты разной крепости. Фишка в том, что к большой дозе привыкаешь (как и к самому курению), т.е. если будешь курить крепче, "поштормит", а потом уже будет нормально. Непонятно почему так, в этот момент организм приспосабливается и привыкает. Но интересно то, что в обратном направлении тоже все работает. Т.е. если уменьшать дозу - то поначалу плохо, пару деньков, но прывыкается и потом уже нормально относишься (накуриваешься) меньшей за прежнюю дозой. Как переход с красных сигарет на синии.

	<p>Вот именно на этой слабости мозга <span class="highlight-green"> (привыкание к крепой дозе никотина ровным счетом как и к слабой)</span> и строился мой подход. Т.е. нужно было повторять все движения (затяжки, перерывы), но при этом лесенкой уменьшать дозу привыкая постоянно к меньшей, которая потом становится опять как родная. Т.е. как будет переходишь постоянно с крепких на более легкие, но не бросаешь.



			<h3 id="mix">&#x00a7 (3) Микс</h3>

	<p>Через непродолжительное время, 2 недели где-то  столкнулся с проблемой доз. Оказалось, 6 мг у некоторых производителей самая маленькая, а мне нужно 3 мг или меньше, потому следующие этапы можно назвать таки словом как МИКС.


	<p>Именно МИКСы помогли. Купил у тех же продавцов емкость (пластмассовая банка с тененьким стальным носиком как у комара), куда заливается одна никотиновая и БЕЗ никотиновая жидкость и мешаются в нужной пропорции. Все - проблема решена. Я купил 3 мг, можно и 6 мг как угодно, главное, что б была безникотиновая жидкость.

	<p>Решил я миксовать в первом подходе в два раза, т.е. получается доза 1.5 мг.
	<br>Все тот же срок, те же ощущения - сначала немного мозг ругается, мол малова-то, кури больше тогда,...ну "ОК" курим больше, но все-равно стараемся реже. Потом все возвращаем в нормальное русло и опять фиксируем новую низину и прогресс.


	<p>МИКСОВАТь вы можете сколько угодно, главное идти к цели - а цель капля никотина на пузырек безникотиновой жидкости.
	<p>Какие-тут мотивации:
		<ul>
			<li>вы двигаетесь в правильном направлении, есть прогресс, а значит получается;</li>
			<li>вы экономите здоровье уже не только на смолах но и на никотине. Те выкуриваете за неделю только пол баночки 3 мг к примеру, а ранее вы за 1 неделю выкуривали всю банку, т.е. это уже экономия на здоровье.</li>
		</ul>

	<p>По деньгам может быть даже дороже, т.к. никотиновая или без никотиновая жидкости стоят примерно одиннаково, потому нет разницы, но безникотиновой может уходить больше, потому ее расход будет больше и придется покупать чаще для микса.

			<h3 id="drop">&#x00a7 (4) Капля</h3>
	<p>Как только Вы провели несколько падений в дозы, с 3 до 1.5, потом совсем чуть, потом только капля на одну баночку, Вы уже <span class="highlight-green">курите практически безникотиновую жидкость<span>.
	<p>Дело в том, что даже капля может играть огромное значение, мозг уже привык к такой малой дозе, но нужно совсем без никотина. Кажется что даже в такой жидкости мозг чувствует и вы тоже никотин и все-равно тянет.

	<p>Поскольку была малая доза никотина мозг все никак не мог привыкнуть приходилось курить по минут 15, но старался не более 10-15 раз. Оставалось <b>ощущение недокуренности, но терпел.</b>


	<p>Тут такая мотивация была:<em> к тому моменту уже мне надоело возиться с этой сигаретой, постоянно ее заряжать, постоянно заливать. </em>
	<p>Один раз она у меня упала, после этого постоянно текла жидкость, причем текла в карман джинсов, становились они липкими, приходилось постоянно заворачивать сигарету в салфетку, что б вытекало именно в нее а не в джинсы...вообщем одни проблемы. Потом с этими миксами, то одна жидкость закончится, то другая, то весь в жидкости сам стоишь когда миксуешь и т.д.
Думаю, что недели две мучался где-то.


			<h3 id="no_nicotine">&#x00a7 (5) Без никотина</h3>

		<p>Вот решил просто попробовать уже без никотина. Никотиновую курил как каплю, ну уже подумал, зачем и эту каплю бросать?
		<br>Было опять тяжело, но легче чем в самый первый раз, т.к. уже была привычка к очень малой дозе. 
		<br>Потом все стало проще - в один момент мне мозг сам сказал 
		<blockquote>
			<p>может не идти курить, это ж время. 
		</blockquote>

		<p>Он перестал получать самое главное что нужно было ему -<span class="green"> никотин,</span> а то что осталось - оказалось что на самом деле не важно: <em>отдых, время, сама привычка потянуть и т.д.</em> Все это не важно для мозга, т.к. он знает способы как отдохнуть лучше (полежать на диване). 

		<p>Я один раз ее специально забыл на работу, потом еше раз забыл.
		<br>Что тут еще помогало, когда расставался с сигаретой - один дружбан курил, но очень мало, и он говорил мне, что если вдруг хочет покурить - то почти дословно "прогоняю мысли и стараюсь думать о чем-то быстро другом".

		<p>Т.е. когда мозг уже привык к меньшей дозе - легче прогнать мысли будет и не идти в очередной раз курить.

			<h3 id="conclusion">&#x00a7 Итог</h3>
		
		<p>Вообщем, главный момент -<b> Никотин</b>, от которого нужно отказаться. Вот это главный инсайт который я выявил. 

		<p>Мозг привыкает <u>за 2 недели мне показалось к новой меньшей дозе.</u> Сравнимо это при каждом спуске как с переходом от красных к синим сигаретам, вроде и не бросаешь, немного неважно, но все-таки куришь и в целом нормально. А последний штрих - когда уже нет никотина - мозг сам отказывается от бесполезной ему штуки (зарядка, покупка жидкости, деньги и т.д.)

		<p>Т.е. когда Вы начинаете опускаться вниз по дозам - Вам легче собой овладеть становиться и не курить потом. Действительно легче. Я связываю это с тем, что никотин уже мозг начинает брать из организма или просто привык к меньшей дозе.

		<p>Вот так лениво можно бросить курить, без стрессов особых, мол завтра не курю и две недели мучаться.
		<br>Я бы назвал этот метод - ленивым.

		<p>Сейчас могу на работе сидеть 2-3 часа работая и не думать, что "я ж не покурил" или "пора покурить". Просто как нужно отдохнуть - можно просто отвлечься на болтовню с кем-то.


		<p>Мозг меня не дургает и не отвлекает. 
		<br>Даже когд Вам захочется покурить - это сравнимо скорее с ностальгией.

		<p>Во время выпивки брал и курил. Да, вспоминаются ощущения, НО, в какой-то момент понимаешь, что после первой или второй затяжки - нет уже чего-то особенного, т.е. просто стоишь и тянешь, даже лень оказывается. 

		<p>Вообщем как-то так. Бросайте курить наверное. 





		<div class="empty_block"></div>
		</div>  <!--close right_col container-->
	
	</div>



</div>
